<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block head %}
    <link rel="stylesheet" href="{% static 'libs/bootstrap/bootstrap.min.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% endblock %}
    <title>Document</title>
</head>
<body>
    <div id="change_warehouse" style="display: none;" class="modal-block">
            <label for="warehouses">Выберите склад</label>
            <select id="warehouse" class="form-control" id="warehouses">
                {% for wh in warehouses.values%}
                    <option value="{{wh.prefix}}">{{wh.sap_wh_id}}|{{wh.shiptor_wh_name}}</span></option>
                {% endfor %}
            </select>
            <button id="execute" type="button" class="btn btn-success btn-lg">Исполнить</button>
            <button type="button" class="modal-cancel btn btn-danger btn-lg">Отмена</button>
    </div>
    <div class="modal-block" id="OM_block" style="display: none;">
        <label>Блок ОМ</label>
        <textarea id="OM_data" placeholder="Первый столбец - external, второй - ОМ" class="form-control" id="values" rows="20"></textarea>
        <button id="OM_load" type="submit" class="btn btn-success btn-lg">Загрузить</button>
        <button type="button" class="modal-cancel btn btn-danger btn-lg">Отмена</button>
    </div>
    <div class="modal-block" id="VVP_block" style="display: none;">
        <label>Блок ВВП</label>
        <textarea id="VVP_data" placeholder="Первый столбец - external, второй - ВВП" class="form-control" id="values" rows="20"></textarea>
        <button id="VVP_load" type="submit" class="btn btn-success btn-lg">Загрузить</button>
        <button type="button" class="modal-cancel btn btn-danger btn-lg">Отмена</button>
    </div>
    <div class="modal-block" id="SMM_block" style="display: none;">
        <label>Блок СММ</label>
        <textarea id="SMM_data" placeholder="Первый столбец - external, второй - СММ" class="form-control" id="values" rows="20"></textarea>
        <button id="SMM_load" type="submit" class="btn btn-success btn-lg">Загрузить</button>
        <button type="button" class="modal-cancel btn btn-danger btn-lg">Отмена</button>
    </div>
    <div id="modal-bg" style="display: none;"></div>

    <div class="loader" style="display: none;" id="id_loader"></div>
    <div id="bigform" class="container-md">
        <div class="row">
            <div class="col-md-4">
                <label>Values</label>
                <textarea class="form-control" id="values" rows="30"></textarea>
            </div>
            <div class="col-md-4">
                <label>Result</label>
                <textarea class="form-control" id="result" readonly resize="none" rows="30"></textarea>
                <button id="copy" type="button" class="btn btn-outline-light"><i class="fa-regular fa-copy"></i></button>
            </div>
            <div class="col-md-4">
                <div class="center-block">
                    <form action="" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <!-- {% for field in form %} 
                            <label for="formFileLg" class="form-label">{{field.label}}</label>
                            <input class="form-control form-control-lg" id="id_{{field.name}}" name="{{field.name}}" type="file" enctype="multipart/form-data">
                        {% endfor %} -->
                        <button id="OM_button" type="button" class="btn btn-outline-secondary">ОМ</button>
                        <button id="VVP_button" type="button" class="btn btn-outline-secondary">ВВП</button>
                        <button id="SMM_button" type="button" class="btn btn-outline-secondary">СММ</button>
                        <button id="MergeButton" class="main_button">Исполнить</button>
                        <!-- <input type="button" class="main_button" value="Очистить форму" id="resetBtn" onClick="this.form.reset()" /> -->
                    </form>
                    <hr>
                </div>
            </div>
        </div>
        <div id="form-buttons" class="row">
            <div class="col-md-12">
                <button id="choose_wh" type="button" class="btn btn-success btn-lg btn-block">Выбрать склад</button>
                <button id="clean" type="button" class="btn btn-danger btn-lg btn-block">Сброс</button>
            </div>
        </div>
    </div>
    



</body>
{% block afterload %}
<!-- jquery -->
<script src="{% static 'libs\jquery\jquery.min.js' %}"></script>
<!-- bs -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
    crossorigin="anonymous"></script>
<!-- alerts -->
<script src="{% static 'libs\sweetalert\sweetalert2.min.js' %}"></script>
<link rel="stylesheet" href="{% static 'libs\sweetalert\sweetalert2.min.css' %}">
<!-- main -->
<script src="{% static 'js\main.js' %}"></script>
<!-- icons -->
<script src="https://kit.fontawesome.com/6d34e8eff8.js" crossorigin="anonymous"></script>
{%endblock%}
</html>