<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block head %}
    <link rel="stylesheet" href="{% static 'libs/bootstrap/bootstrap.min.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% endblock %}
    <title>Document</title>
</head>
<body>
    <div class="center-block">
        <form action="" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {% for field in form %} 
                <!-- {{field}} -->
                <label for="formFileLg" class="form-label">{{field.label}}</label>
                <input class="form-control form-control-lg" id="id_{{field.name}}" name="{{field.name}}" type="file" enctype="multipart/form-data">
            {% endfor %}
            <button class="button" type="submit">Submit</button>
        </form>
        <hr>
        
    </div>
</body>
{% block afterload %}
<!-- jquery -->
<script src="{% static 'libs\jquery\jquery.min.js' %}"></script>
<!-- bs -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
    crossorigin="anonymous"></script>
<!-- alerts -->
<script src="{% static 'libs\sweetalert\sweetalert2.min.js' %}"></script>
<link rel="stylesheet" href="{% static 'libs\sweetalert\sweetalert2.min.css' %}">
<!-- icons -->
<script src="https://kit.fontawesome.com/6d34e8eff8.js" crossorigin="anonymous"></script>
{%endblock%}
</html>